.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
src/config.h
.vscode/ipch/32b48064184ba9a2/phpserver.ipch
.vscode/.browse.c_cpp.db
.vscode/.browse.c_cpp.db-shm
.vscode/.browse.c_cpp.db-wal
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/ipch/29334a0b4787d21b/mmap_address.bin
.vscode/ipch/32b48064184ba9a2/mmap_address.bin
.vscode/ipch/6ea508793e91cc05/mmap_address.bin
.vscode/ipch/6ea508793e91cc05/webserver.ipch
.vscode/ipch/83a6e72a6bf243d3/mmap_address.bin
.vscode/ipch/83a6e72a6bf243d3/phpserver.ipch
.vscode/ipch/89dc61f1b4a3f678/mmap_address.bin
.vscode/ipch/8f24b6fe8c8ca706/mmap_address.bin
.vscode/ipch/8f24b6fe8c8ca706/remote_debug.ipch
.vscode/ipch/ac90ecf4934f9bb6/mmap_address.bin
.vscode/ipch/ac90ecf4934f9bb6/ota.ipch
.vscode/ipch/b1834e1a713a3433/currentSample.ipch
.vscode/ipch/b1834e1a713a3433/mmap_address.bin
.vscode/ipch/b7fd133ccf887a80/mmap_address.bin
.vscode/ipch/d7b19dae8ffbcfec/WebSocketsServer.ipch
.vscode/ipch/d7b19dae8ffbcfec/mmap_address.bin
.vscode/ipch/da700e0d5d3228e8/mmap_address.bin
.vscode/ipch/da700e0d5d3228e8/mpu.ipch
.vscode/ipch/de500c3d98338818/ESP8266HTTPClient.ipch
.vscode/ipch/de500c3d98338818/mmap_address.bin
.vscode/ipch/e646ed61bd5010b6/ESP8266WebServer.ipch
.vscode/ipch/e646ed61bd5010b6/mmap_address.bin
.vscode/ipch/e88bfac0243ab051/main.ipch
.vscode/ipch/e88bfac0243ab051/mmap_address.bin
.vscode/ipch/eb491e309bd2ec15/mmap_address.bin
.vscode/ipch/eb491e309bd2ec15/php_googleSheet.ipch
.vscode/ipch/f7ceba24586a559f/mmap_address.bin
otherfiles/iot_logger_php_server/report.xml
otherfiles/iot_logger_php_server/tbl_marks.sql
